In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

%matplotlib inline

/Users/shashankbhushan/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train = pd.read_csv('train.csv').drop(['Trip_ID'], axis = 1)
test = pd.read_csv('test.csv').drop(['Trip_ID'], axis = 1)

In [3]:
print train.dtypes

Trip_Distance                  float64
Type_of_Cab                     object
Customer_Since_Months          float64
Life_Style_Index               float64
Confidence_Life_Style_Index     object
Destination_Type                object
Customer_Rating                float64
Cancellation_Last_1Month         int64
Var1                           float64
Var2                             int64
Var3                             int64
Gender                          object
Surge_Pricing_Type               int64
dtype: object

In [4]:
train.describe()

,Trip_Distance,Customer_Since_Months,Life_Style_Index,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Surge_Pricing_Type
count,131662.000000,125742.000000,111469.000000,131662.000000,131662.000000,60632.000000,131662.000000,131662.000000,131662.000000
mean,44.200909,6.016661,2.802064,2.849458,0.782838,64.202698,51.202800,75.099019,2.155747
std,25.522882,3.626887,0.225796,0.980675,1.037559,21.820447,4.986142,11.578278,0.738164
min,0.310000,0.000000,1.596380,0.001250,0.000000,30.000000,40.000000,52.000000,1.000000
25%,24.580000,3.000000,2.654730,2.152500,0.000000,46.000000,48.000000,67.000000,2.000000
50%,38.200000,6.000000,2.798050,2.895000,0.000000,61.000000,50.000000,74.000000,2.000000
75%,60.730000,10.000000,2.946780,3.582500,1.000000,80.000000,54.000000,82.000000,3.000000
max,109.230000,10.000000,4.875110,5.000000,8.000000,210.000000,124.000000,206.000000,3.000000

In [5]:
for col in train.columns:
    print col, train[col].isnull().sum()

Trip_Distance 0
Type_of_Cab 20210
Customer_Since_Months 5920
Life_Style_Index 20193
Confidence_Life_Style_Index 20193
Destination_Type 0
Customer_Rating 0
Cancellation_Last_1Month 0
Var1 71030
Var2 0
Var3 0
Gender 0
Surge_Pricing_Type 0

So we have a lot of missing values. We can't simply drop them as then we would lose about 15% of the data, instead lets replace the missing the values with the most probable values. Here for continuous values I am gonna use mean and for categorical values I am gonna use the most frequent category

In [6]:
# Creating a combined data frame of initial processing
train_y = train['Surge_Pricing_Type']
train_x = train.drop(['Surge_Pricing_Type'], axis = 1)
test_x = test
all_Data = pd.concat([train_x, test_x])
all_Data.head(5)

,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender
0,6.77,B,1.0,2.42769,A,A,3.90500,0,40.0,46,60,Female
1,29.47,B,10.0,2.78245,B,A,3.45000,0,38.0,56,78,Male
2,41.58,NaN,10.0,NaN,NaN,E,3.50125,2,NaN,56,77,Male
3,61.56,C,10.0,NaN,NaN,A,3.45375,0,NaN,52,74,Male
4,54.95,C,10.0,3.03453,B,A,3.40250,4,51.0,49,102,Male

In [7]:
# filling in the missing values
cols_with_missing = ['Type_of_Cab', 'Customer_Since_Months', 'Life_Style_Index', 'Confidence_Life_Style_Index', 'Var1']

def calc_rep(col):
    if all_Data[col].dtype == object:
        return all_Data[col].value_counts().index[0]
    else:
        return all_Data[col].mean()
miss_fill = {}
for col in cols_with_missing:
    miss_fill[col] = calc_rep(col)
    all_Data[col] = all_Data[col].fillna(miss_fill[col])
all_Data.head()

,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender
0,6.77,B,1.0,2.427690,A,A,3.90500,0,40.000000,46,60,Female
1,29.47,B,10.0,2.782450,B,A,3.45000,0,38.000000,56,78,Male
2,41.58,B,10.0,2.802594,B,E,3.50125,2,64.095972,56,77,Male
3,61.56,C,10.0,2.802594,B,A,3.45375,0,64.095972,52,74,Male
4,54.95,C,10.0,3.034530,B,A,3.40250,4,51.000000,49,102,Male

In [8]:
# The Type of cab seems to be a good differentiator for the surge pricing as surge pricing is usually dependent on the type of car
# So for type of car we will create dummy variables and for the rest of the categorical values we use label encoding
labelEncoder = preprocessing.LabelEncoder()
# Encode categorical values
for column in list(all_Data.select_dtypes(include=['object']).columns):
    if column == 'Type_of_Cab':
        continue
    all_Data[column] = labelEncoder.fit_transform(all_Data[column])
all_Data = pd.get_dummies(all_Data)

In [9]:
# Getting the Train and Test Data set
train_x = all_Data[:train.shape[0]]
test_x = all_Data[train.shape[0]:]

# A holdout validation set with 10% of the data, to check the results of CV tuned Hyper parameters
train_val_x, test_val_x, train_val_y, test_val_y = train_test_split(train_x, train_y, test_size = 0.1)

In [105]:
base_model = XGBClassifier(max_depth = 3, n_estimators= 100)
param_grid = {'max_depth': [3, 5, 7], 'learning_rate': [0.01, 0.05], 'colsample_bylevel':[0.8, 0.6, 0.5]}
grid_search = GridSearchCV(base_model, param_grid=param_grid, cv = 3)
grid_search.fit(train_val_x, train_val_y)
grid_search.cv_results_

{'mean_fit_time': array([  5.08996344,   9.31447395,  12.69599199,   4.6182851 ,
          8.43597126,  12.0485576 ,   4.99836699,   7.78746796,
          9.87616698,   5.56180509,   7.26805202,   8.94019969,
          3.97367032,   6.19290209,   8.47522696,   3.85505199,
          6.36562165,   8.3887314 ]),
 'mean_score_time': array([ 0.12153125,  0.24317296,  0.30839928,  0.14059297,  0.23333875,
         0.31734435,  0.1704669 ,  0.22855139,  0.35822606,  0.166243  ,
         0.22780403,  0.30442731,  0.12924258,  0.22286391,  0.31203437,
         0.14059273,  0.227326  ,  0.29664771]),
 'mean_test_score': array([ 0.67355585,  0.67845901,  0.68379257,  0.68172497,  0.68818094,
         0.69154817,  0.67369931,  0.67780075,  0.68315119,  0.68139584,
         0.68764927,  0.69194481,  0.67346302,  0.67766572,  0.68295709,
         0.6815815 ,  0.68757332,  0.69158192]),
 'mean_train_score': array([ 0.67377105,  0.67945061,  0.68909236,  0.6825731 ,  0.69143845,
         0.70435461,  0.67386388,  0.67868264,  0.68718089,  0.6822271 ,
         0.69100806,  0.70360353,  0.67363602,  0.67832398,  0.6867083 ,
         0.68245495,  0.690738  ,  0.70278493]),
 'param_colsample_bylevel': masked_array(data = [0.8 0.8 0.8 0.8 0.8 0.8 0.6 0.6 0.6 0.6 0.6 0.6 0.5 0.5 0.5 0.5 0.5 0.5],
              mask = [False False False False False False False False False False False False
  False False False False False False],
        fill_value = ?),
 'param_learning_rate': masked_array(data = [0.01 0.01 0.01 0.05 0.05 0.05 0.01 0.01 0.01 0.05 0.05 0.05 0.01 0.01 0.01
  0.05 0.05 0.05],
              mask = [False False False False False False False False False False False False
  False False False False False False],
        fill_value = ?),
 'param_max_depth': masked_array(data = [3 5 7 3 5 7 3 5 7 3 5 7 3 5 7 3 5 7],
              mask = [False False False False False False False False False False False False
  False False False False False False],
        fill_value = ?),
 'params': ({'colsample_bylevel': 0.8, 'learning_rate': 0.01, 'max_depth': 3},
  {'colsample_bylevel': 0.8, 'learning_rate': 0.01, 'max_depth': 5},
  {'colsample_bylevel': 0.8, 'learning_rate': 0.01, 'max_depth': 7},
  {'colsample_bylevel': 0.8, 'learning_rate': 0.05, 'max_depth': 3},
  {'colsample_bylevel': 0.8, 'learning_rate': 0.05, 'max_depth': 5},
  {'colsample_bylevel': 0.8, 'learning_rate': 0.05, 'max_depth': 7},
  {'colsample_bylevel': 0.6, 'learning_rate': 0.01, 'max_depth': 3},
  {'colsample_bylevel': 0.6, 'learning_rate': 0.01, 'max_depth': 5},
  {'colsample_bylevel': 0.6, 'learning_rate': 0.01, 'max_depth': 7},
  {'colsample_bylevel': 0.6, 'learning_rate': 0.05, 'max_depth': 3},
  {'colsample_bylevel': 0.6, 'learning_rate': 0.05, 'max_depth': 5},
  {'colsample_bylevel': 0.6, 'learning_rate': 0.05, 'max_depth': 7},
  {'colsample_bylevel': 0.5, 'learning_rate': 0.01, 'max_depth': 3},
  {'colsample_bylevel': 0.5, 'learning_rate': 0.01, 'max_depth': 5},
  {'colsample_bylevel': 0.5, 'learning_rate': 0.01, 'max_depth': 7},
  {'colsample_bylevel': 0.5, 'learning_rate': 0.05, 'max_depth': 3},
  {'colsample_bylevel': 0.5, 'learning_rate': 0.05, 'max_depth': 5},
  {'colsample_bylevel': 0.5, 'learning_rate': 0.05, 'max_depth': 7}),
 'rank_test_score': array([17, 13,  7, 10,  4,  3, 16, 14,  8, 12,  5,  1, 18, 15,  9, 11,  6,
         2], dtype=int32),
 'split0_test_score': array([ 0.67576394,  0.67973873,  0.68515659,  0.68287805,  0.68900478,
         0.69138459,  0.67611838,  0.67938429,  0.68462493,  0.68257424,
         0.68890352,  0.69166308,  0.67601711,  0.67938429,  0.6841439 ,
         0.68262488,  0.6890301 ,  0.69158713]),
 'split0_train_score': array([ 0.67381893,  0.67852803,  0.68865512,  0.68184465,  0.69085776,
         0.70455466,  0.67408476,  0.67803433,  0.68668034,  0.68159147,
         0.69060459,  0.70371918,  0.67412274,  0.67766722,  0.68608537,
         0.68208517,  0.69038939,  0.70263051]),
 'split1_test_score': array([ 0.67135045,  0.67717353,  0.68173072,  0.67947744,  0.68646514,
         0.69074384,  0.67135045,  0.67605955,  0.68059142,  0.67919895,
         0.68583219,  0.69145273,  0.67135045,  0.67585701,  0.68086992,
         0.6795534 ,  0.68542711,  0.6906932 ]),
 'split1_train_score': array([ 0.67375976,  0.68063344,  0.69036799,  0.68359558,  0.69303898,
         0.70482423,  0.67375976,  0.67945618,  0.6879122 ,  0.68334241,
         0.69214021,  0.70379888,  0.67375976,  0.67915237,  0.68786156,
         0.68349431,  0.69182374,  0.7033938 ]),
 'split2_test_score': array([ 0.67355309,  0.67846473,  0.68449035,  0.68281938,  0.68907286,
         0.69251608,  0.67362904,  0.67795838,  0.68423718,  0.6824143 ,
         0.68821206,  0.69271862,  0.67302142,  0.67775584,  0.68385741,
         0.68256621,  0.6882627 ,  0.69246544]),
 'split2_train_score': array([ 0.67373445,  0.67919035,  0.68825398,  0.68227907,  0.69041862,
         0.70368495,  0.6737471 ,  0.67855741,  0.68695014,  0.68174741,
         0.69027938,  0.70329253,  0.67302556,  0.67815233,  0.68617796,
         0.68178538,  0.69000089,  0.70233047]),
 'std_fit_time': array([ 0.30492755,  0.38358906,  0.3871023 ,  0.07816539,  0.49872696,
         0.36138718,  0.61051397,  1.07980239,  0.38136636,  0.54435504,
         0.50051232,  0.1788491 ,  0.32045114,  0.26691696,  0.11829866,
         0.04392236,  0.47792962,  0.18490562]),
 'std_score_time': array([ 0.00258471,  0.01606653,  0.00959574,  0.01447912,  0.01738426,
         0.02266073,  0.04948169,  0.01891576,  0.04530778,  0.02031728,
         0.00606279,  0.00349143,  0.00351448,  0.00326142,  0.00736469,
         0.00138175,  0.00636725,  0.00188886]),
 'std_test_score': array([ 0.00180181,  0.00104725,  0.00148309,  0.00158941,  0.00121356,
         0.0007327 ,  0.00194714,  0.00136189,  0.00181693,  0.0015548 ,
         0.0013155 ,  0.00055386,  0.00193058,  0.00144142,  0.00148047,
         0.00143428,  0.00154959,  0.00072352]),
 'std_train_score': array([  3.54002626e-05,   8.79012074e-04,   9.16747785e-04,
          7.44435965e-04,   1.14585125e-03,   4.86145169e-04,
          1.56275984e-04,   5.87183518e-04,   5.28712899e-04,
          7.91208389e-04,   8.11485605e-04,   2.22302999e-04,
          4.56389093e-04,   6.18338012e-04,   8.16358447e-04,
          7.45056015e-04,   7.83942962e-04,   4.47624286e-04])}

In [10]:
# Checking the score of the model with the best CV Score on the validation set
base_model = grid_search.best_estimator_

base_model.fit(train_val_x, train_val_y)
predicts = base_model.predict(test_val_x)

print 'The accuracy on the validation set is: ', accuracy_score(test_val_y, predicts)

The accuracy on the validation set is:  0.690590111643

In [109]:
base_model.fit(train_x, train_y)
predicts = base_model.predict(test_x)

submission = pd.DataFrame()
submission['Surge_Pricing_Type'] = predicts
submission['Trip_ID'] = pd.read_csv('test.csv').Trip_ID
submission.to_csv('attempt_1.csv', index=False)