In [2]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns

%matplotlib inline

In [15]:
df = pd.read_csv('data/hong-kong-marathon-2016/challenge.csv')
df.head(10)

,Overall Position,Gender Position,Category Position,Category,Race No,Country,Official Time,Net Time,10km Time,Half Way Time,30km Time
0,1,1,1,MMS,21080,Kenya,2:12:12,2:12:11,0:30:35,1:04:48,1:33:36
1,2,2,1,MMI,14,Kenya,2:12:14,2:12:13,0:30:34,1:04:48,1:33:36
2,3,3,2,MMI,2,Ethiopia,2:12:20,2:12:18,0:30:35,1:04:49,1:33:36
3,4,4,2,MMS,21077,Kenya,2:12:29,2:12:27,0:30:35,1:04:48,1:33:36
4,5,5,3,MMI,18,Ethiopia,2:12:47,2:12:46,0:30:34,1:04:48,1:33:36
5,6,6,4,MMI,21,Ethiopia,2:13:02,2:13:01,0:30:34,1:04:48,1:33:36
6,7,7,3,MMS,21078,Kenya,2:13:20,2:13:18,0:30:34,1:04:48,1:33:36
7,8,8,4,MMS,21090,Ethiopia,2:17:27,2:17:21,0:30:35,1:05:05,1:33:36
8,9,9,5,MMS,21084,Ethiopia,2:17:39,2:17:37,0:30:35,1:05:50,1:35:04
9,10,10,5,MMI,12,Kenya,2:19:27,2:19:26,0:30:34,1:04:48,1:33:36

In [24]:
total_marathon_length = 42.195
half_way_length = total_marathon_length / 2
FirstPart = 10
SecondPart = (total_marathon_length / 2) - FirstPart
ThirdPart = 30 - (total_marathon_length / 2)
FinalPart = total_marathon_length - 30
df['AvgSpeed1Part'] = df['10km Time'] / FirstPart
df['AvgSpeed2Part'] = (df['Half Way Time'] - df['10km Time']) / SecondPart
df['AvgSpeed3Part'] = (df['30km Time'] - df['Half Way Time']) / ThirdPart
df['AvgSpeed4Part'] = (df['Net Time'] - df['30km Time']) / FinalPart

df_reduced = df[['Overall Position', 'AvgSpeed1Part', 'AvgSpeed2Part', 'AvgSpeed3Part', 'AvgSpeed4Part']]

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [31]:
def toTime(a):
    hr, mi, se = map(int, a.split(':'))
    return (hr*3600) + (mi * 60) + se
df['10km Time'].apply(toTime)

AttributeError: 'float' object has no attribute 'split'

In [32]:
df['10km Time'].dtype

dtype('O')